html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
.scroll-graphic {
	overflow-x: hidden;
	position: sticky;
	top: 0;
	height: 100vh;
}
.graphic-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	will-change: opacity;
}
.visible {
	opacity: 1;
}
.scene-img {
	max-height: 80vh;
	max-width:80vw;
}
.scroll-text {
	position: relative;
	padding-bottom: 1px;
}
.step {
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.bird {
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 10vw;
	transform: translateX(-100%);
	transition: 1.5s 0.5s linear;
}
[data-index="5"] .bird {
	left: 30%;
	bottom: 30%;
}
.global-footer {
	padding: 25vh 0;
	text-align: center;
}
.strikethrough {
	text-decoration: line-through;
}

a, a:visited, hover{
	color:black;
	text-decoration:none;
}


.progress{
	position: fixed;
	width: 100%;
	height:2.5vh;
	top: 0;
	left: 0;
	background:black;
	z-index:10;
}

.bar{
	position: absolute;
	height: 2.5vh;
	top: 0;
	left: 0;
	background: dodgerblue;
	z-index:11;
}
